services:
  app:
    container_name: yummypass-container
    image: chamingyeong/yummypass:latest
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: always
    env_file:
      - .env
