
services:
  app:
    container_name: spring-boot-app
    image: ${DOCKER_IMAGE:-${DOCKERHUB_USERNAME}/${DOCKERHUB_REPOSITORY}:latest}
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "8080:8080"
    restart: always